.App {
  text-align: center;
}
body {
  background: cadetblue;
}

a {
  text-decoration: none;
  color:#0dcaf0;
}

.navbar {
  margin-bottom: 2rem;
}

.clickable {
  cursor: pointer;
}

/* .pagination {
  color: green;
} */